<h1 class="text-center">Sign Up For Exam</h1>
<br>
<br>
<%= form_with model: @user do |form| %>
<div class="text-center">
<div class="mb-3">
    
    <%= form.text_field :first_name, placeholder:'First Name' %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>


<div class="mb-3">
     
    <%= form.text_field :last_name, placeholder: 'Last Name' %>
    <% @user.errors.full_messages_for(:last_name).each do |message| %>
    <div><%= message %></div>
<% end %>
</div>



<div class="mb-3">
    
    <%= form.text_field :phone_number, placeholder: 'Phone Number' %>
    <% @user.errors.full_messages_for(:phone_number).each do |message| %> 
    <div><%= message %></div>
    <% end %>
</div>

<div class="mb-3">
    
    <%= form.text_field :college_name, placeholder: 'College' %>
    <% @user.errors.full_messages_for(:college_name).each do |message| %> 
    <div><%= message %></div>
    <% end %>
</div>

<div class="mb-3">

    <%= form.text_field :exam_name, placeholder: 'Exam' %>
    <% @user.errors.full_messages_for(:exam_name).each do |message| %> 
    <div><%= message %></div>
    <% end %>
</div>


<div>
    <%= form.submit "Sign Up", class:"btn btn-primary" %> 
</div>
</div>
<% end %>